{% set flash = _view.loadHelper('Flash') %}
<section class="form" id="form">
    <div class="container">
        {{ flash.render() }}
        {{ form.create('Bid', {'class': 'form-block', 'url': {'plugin': 'agency', 'controller': 'bids', 'action': 'add'}}) }}
            {{ form.hidden('Bid.category_id', {'value': bidCreateCategoryId ?? 2}) }}
            {{ form.hidden('Bid.rent', {'value': 1}) }}
            {{ form.hidden('Bid.for_site', {'value': 1}) }}
            {{ form.hidden('Bid.price_from', {'value': 0}) }}
            {{ form.hidden('Bid.price_to', {'value': 1000}) }}
            {{ form.hidden('Bid.comment', {'value': bidCreateComment ?? 'Заявка добавлена через форму Быстрый подбор недвижимости на сайте'}) }}
            {{ form.hidden('Bid.source_id', {'value': 12}) }}
            {{ form.hidden('ReferrerData.url', {'value': _view.request.here()}) }}
            <div class="form-block-left">
                <div class="form-block-left-content">
                    <span class="form-block-left-content__title">Быстрый подбор недвижимости</span>
                    <span class="form-block-left-content__subtitle">Пришлем в течение 30 минут</span>
                    <label class="d-block w-100">
                        {{ form.input('Contractor.0.fio', {
                            'type': 'text',
                            'placeholder': 'Имя',
                            'class': 'form-block-left-content__input',
                            'div': false,
                            'label': false,
                        }) }}
                    </label>
                    <label class="d-block w-100">
                        {{ form.hidden('Contractor.0.code', {'value': '7'}) }}
                        {{ form.input('Contractor.0.phone', {
                            'type': 'tel',
                            'placeholder': 'Телефон',
                            'class': 'form-block-left-content__input phone-mask',
                            'div': false,
                            'label': false,
                        }) }}
                    </label>
                    <label class="d-block w-100">
                        {{ form.input('Contractor.0.email', {
                            'type': 'email',
                            'placeholder': 'Эл. почта',
                            'class': 'form-block-left-content__input',
                            'div': false,
                            'label': false,
                        }) }}
                    </label>
                    {% if recaptcha.hasKey() %}
                        {{ recaptcha.display_form({'id': 'create_bid_recaptcha', 'div': 'recaptcha-block'}) }}
                    {% endif %}
                    <div class="form-block-left-content-agreement">
                        <div class="form-block-left-content-agreement-check">
                            {{ form.checkbox('confirmation', {'class': 'form-block-left-content-agreement-check__checkbox', 'value': 1, 'checked': true, 'hiddenField': false}) }}
                            <label for="{{ form.domId('confirmation') }}" class="form-block-left-content-agreement-check-label">
                                    <span class="form-block-left-content-agreement-check-label__text">
                                        Я согласен<br> <a href="">с политикой обработки персональных данных</a>
                                    </span>
                            </label>
                        </div>
                        <button type="submit" class="form-block-left-content-agreement__btn btn-1">Отправить</button>
                    </div>
                </div>
            </div>
            <div class="form-block-right box">
                <picture>
                    <source srcset="/uploads/assets/img/form/request.webp" type="image/webp">
                    <img src="/uploads/assets/img/form/request.png" alt="Изображение" class="form-block-right__img">
                </picture>
            </div>
        {{ form.end() }}
    </div>
</section>
