{#loadComponent='[{"name": "Agency.SiteOffers", "method": "setParents", "params": ["request:pass_2"], "allowPage": "/agency/realty/view_slug"},{"name": "Agency.SiteOffers", "method": "setParents", "params": [null, "request:pass_0"], "allowPage": "/object_templates/advertisement_templates/view"}]'#}
<section class="objects" id="objects">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if advertisement.Category.is_template %}
                    <h2 class="objects__title section-title">Объекты в {{ advertisement.Category.title }} {{ title }}</h2>
                {% else %}
                    <h2 class="objects__title section-title">Другие площади в БЦ {{ advertisement.Parent.title }}</h2>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tabs-object" id="tabs-object">
                    <div class="tabs-object__nav d-flex">
                        <button class="tabs-object__nav-link tabs-object__nav-link--active">Аренда</button>
                        <button class="tabs-object__nav-link">Продажа</button>
                    </div>
                    <div class="objects__navigation d-flex align-items-center">
                        <span class="objects__name objects__name_one d-xl-flex align-items-center justify-content-center d-lg-flex d-md-flex d-none">Фото</span>
                        <button class="objects__wrapper d-flex align-items-center justify-content-center objects__wrapper_one" type="button">
                            <svg class="objects__icon" width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.93485 13.9999L5.02588 10.4999L5.81326 9.79492L8.93485 12.5849L12.0564 9.79492L12.8438 10.4999L8.93485 13.9999Z" fill="#283655" />
                                <path d="M8.93485 2L12.8438 5.5L12.0564 6.205L8.93485 3.415L5.81326 6.205L5.02588 5.5L8.93485 2Z" fill="#283655" />
                            </svg>
                            <span class="objects__name d-block">Площадь</span>
                        </button>
                        <button class="objects__wrapper d-flex align-items-center justify-content-center objects__wrapper_two" type="button">
                            <svg class="objects__icon" width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.93485 13.9999L5.02588 10.4999L5.81326 9.79492L8.93485 12.5849L12.0564 9.79492L12.8438 10.4999L8.93485 13.9999Z" fill="#283655" />
                                <path d="M8.93485 2L12.8438 5.5L12.0564 6.205L8.93485 3.415L5.81326 6.205L5.02588 5.5L8.93485 2Z" fill="#283655" />
                            </svg>
                            <span class="objects__name d-block">Цена</span>
                        </button>
                        <button class="objects__wrapper d-flex align-items-center justify-content-center objects__wrapper_three" type="button">
                            <svg class="objects__icon" width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.93485 13.9999L5.02588 10.4999L5.81326 9.79492L8.93485 12.5849L12.0564 9.79492L12.8438 10.4999L8.93485 13.9999Z" fill="#283655" />
                                <path d="M8.93485 2L12.8438 5.5L12.0564 6.205L8.93485 3.415L5.81326 6.205L5.02588 5.5L8.93485 2Z" fill="#283655" />
                            </svg>
                            <span class="objects__name d-block">Этаж</span>
                        </button>
                        <button class="objects__wrapper d-xl-flex d-lg-flex align-items-center justify-content-center objects__wrapper_four d-none" type="button">
                            <svg class="objects__icon" width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.93485 13.9999L5.02588 10.4999L5.81326 9.79492L8.93485 12.5849L12.0564 9.79492L12.8438 10.4999L8.93485 13.9999Z" fill="#283655" />
                                <path d="M8.93485 2L12.8438 5.5L12.0564 6.205L8.93485 3.415L5.81326 6.205L5.02588 5.5L8.93485 2Z" fill="#283655" />
                            </svg>
                            <span class="objects__name d-block">Состояние</span>
                        </button>
                        <span class="objects__name objects__name_two d-xl-flex d-lg-flex align-items-center justify-content-center d-none">Планировка</span>
                    </div>
                    {% set rentObjects = [] %}
                    {% set sellObjects = [] %}
                    {% for advertisement in parentOffers %}
                        {% if advertisement.Advertisement.rent %}
                            {% set rentObjects = rentObjects|merge([advertisement]) %}
                        {% else %}
                            {% set sellObjects = sellObjects|merge([advertisement]) %}
                        {% endif %}
                    {% endfor %}
                    <div class="tabs-object__content tabs-object__content--active">
                        {% for advertisement in rentObjects %}
                            {% set paramsValues = advertisement.CategoryParamValues ?? [] %}
                            <div class="objects__card d-flex align-items-center">
                                <div class="objects__left d-xl-block d-lg-block d-md-block d-none">
                                    <div class="objects__box box">
                                        {% set gallery = adView.getGallery(advertisement) %}
                                        {% set galleryFirst = imageResized.resizeItemPicture(gallery.first, {'width': '117', 'height': '86', 'mode': 'crop', 'paddings': false, 'folder': 'twig_crop_children_view_objects', 'cache_path_size': true}) %}
                                        <img src="{{ galleryFirst.src }}" alt="{{ galleryItem.description }}" class="objects__preview">
                                    </div>
                                </div>
                                <div class="objects__center d-flex">
                                    <span class="objects__number objects__number_one d-flex align-items-center justify-content-center">{{ complexCategory.getViewAliasesOptions('area', paramsValues) }} <span>кв.м.</span></span>
                                    <span class="objects__number objects__number_two d-flex align-items-center justify-content-center">
                                        {% if advertisement.Advertisement.rent %}
                                            {{ price.format(advertisement.Advertisement.price_area_year) }} <span>руб./кв.м. в год</span>
                                        {% else %}
                                            {{ price.format(advertisement.Advertisement.price) }} <span>руб.</span>
                                        {% endif %}
                                    </span>
                                    <span class="objects__number objects__number_three d-flex align-items-center justify-content-center">{{ complexCategory.getViewAliasesOptions('floor', paramsValues) }}</span>
                                    <span class="objects__number objects__number_four d-xl-flex d-lg-flex align-items-center justify-content-center d-none">{{ complexCategory.getViewAliasesOptions('quality', paramsValues) }}</span>
                                    <span class="objects__number objects__number_five d-xl-flex d-lg-flex align-items-center justify-content-center d-none">{{ complexCategory.getViewAliasesOptions('planirovka', paramsValues) }}</span>
                                </div>
                                <div class="objects__right d-flex justify-content-between align-items-center">
                                    <div class="objects__button_one d-xl-flex d-lg-flex d-md-flex d-none align-items-center justify-content-center">
                                        <a href="{{ adView.getUrl(advertisement) }}" class="objects__btn btn-3">Подробнее</a>
                                    </div>
                                    <div class="objects__button_two d-xl-flex d-lg-flex d-md-flex d-none align-items-center justify-content-center">
                                        {% set isFavorite = favorite.has('Advertisement', advertisement.Advertisement.id) %}
                                        <button class="objects__save" type="button" data-favorite="{{ isFavorite ? 'remove' : 'add'}}" data-favorite-invert="{{ isFavorite ? 'add' : 'remove'}}" data-favorite-id="{{ advertisement.Advertisement.id }}">
                                            <svg data-icon="add" class="{{ isFavorite ? 'd-none' : ''}}" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 22V4C20 2.897 19.103 2 18 2H6C4.897 2 4 2.897 4 4V22L12 17.428L20 22ZM6 10V4H18V18.553L12 15.125L6 18.553V10Z" fill="#333333" /></svg>
                                            <svg data-icon="remove" class="{{ isFavorite ? '' : 'd-none'}}" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M20 22V4C20 2.897 19.103 2 18 2H6C4.897 2 4 2.897 4 4V22L12 17.428L20 22Z" fill="#333333" /></svg>
                                        </button>
                                    </div>
                                    <a href="{{ adView.getUrl(advertisement) }}" class="objects__more d-xl-none d-lg-none d-md-none d-flex flex-column align-items-center justify-content-center">
                                        <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 12L8 6.5L1 1" stroke="white" stroke-linecap="round" /></svg>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tabs-object__content">
                        {% for advertisement in sellObjects %}
                            {% set paramsValues = advertisement.CategoryParamValues ?? [] %}
                            <div class="objects__card d-flex align-items-center">
                                <div class="objects__left d-xl-block d-lg-block d-md-block d-none">
                                    <div class="objects__box box">
                                        {% set gallery = adView.getGallery(advertisement) %}
                                        {% set galleryFirst = imageResized.resizeItemPicture(gallery.first, {'width': '117', 'height': '86', 'mode': 'crop', 'paddings': false, 'folder': 'twig_crop_children_view_objects', 'cache_path_size': true}) %}
                                        <img src="{{ galleryFirst.src }}" alt="{{ galleryItem.description }}" class="objects__preview">
                                    </div>
                                </div>
                                <div class="objects__center d-flex">
                                    <span class="objects__number objects__number_one d-flex align-items-center justify-content-center">{{ complexCategory.getViewAliasesOptions('area', paramsValues) }} <span>кв.м.</span></span>
                                    <span class="objects__number objects__number_two d-flex align-items-center justify-content-center">
                                         {% if advertisement.Advertisement.rent %}
                                             {{ price.format(advertisement.Advertisement.price_area_year) }} <span>руб./кв.м. в год</span>
                                         {% else %}
                                             {{ price.format(advertisement.Advertisement.price) }} <span>руб.</span>
                                         {% endif %}
                                    </span>
                                    <span class="objects__number objects__number_three d-flex align-items-center justify-content-center">{{ complexCategory.getViewAliasesOptions('floor', paramsValues) }}</span>
                                    <span class="objects__number objects__number_four d-xl-flex d-lg-flex align-items-center justify-content-center d-none">{{ complexCategory.getViewAliasesOptions('quality', paramsValues) }}</span>
                                    <span class="objects__number objects__number_five d-xl-flex d-lg-flex align-items-center justify-content-center d-none">{{ complexCategory.getViewAliasesOptions('planirovka', paramsValues) }}</span>
                                </div>
                                <div class="objects__right d-flex justify-content-between align-items-center">
                                    <div class="objects__button_one d-xl-flex d-lg-flex d-md-flex d-none align-items-center justify-content-center">
                                        <a href="{{ adView.getUrl(advertisement) }}" class="objects__btn btn-3">Подробнее</a>
                                    </div>
                                    <div class="objects__button_two d-xl-flex d-lg-flex d-md-flex d-none align-items-center justify-content-center">
                                        {% set isFavorite = favorite.has('Advertisement', advertisement.Advertisement.id) %}
                                        <button class="objects__save" type="button" data-favorite="{{ isFavorite ? 'remove' : 'add'}}" data-favorite-invert="{{ isFavorite ? 'add' : 'remove'}}" data-favorite-id="{{ advertisement.Advertisement.id }}">
                                            <svg data-icon="add" class="{{ isFavorite ? 'd-none' : ''}}" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 22V4C20 2.897 19.103 2 18 2H6C4.897 2 4 2.897 4 4V22L12 17.428L20 22ZM6 10V4H18V18.553L12 15.125L6 18.553V10Z" fill="#333333" /></svg>
                                            <svg data-icon="remove" class="{{ isFavorite ? '' : 'd-none'}}" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M20 22V4C20 2.897 19.103 2 18 2H6C4.897 2 4 2.897 4 4V22L12 17.428L20 22Z" fill="#333333" /></svg>
                                        </button>
                                    </div>
                                    <a href="{{ adView.getUrl(advertisement) }}" class="objects__more d-xl-none d-lg-none d-md-none d-flex flex-column align-items-center justify-content-center">
                                        <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 12L8 6.5L1 1" stroke="white" stroke-linecap="round" /></svg>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
