{% set flash = _view.loadHelper('Flash') %}
{{ adView.setOgparh(advertisement) }}
{{ adSeo.imageSrcLink(advertisement) }}
{{ adView.setDefaults({default_picture: config.Site.no_photo_image}) }}
{% set title = adSeo.pattern_title(advertisement) %}
{{ _view.assign('title', title) }}
{% set paramsValues = advertisement.CategoryParamValues ?? [] %}
<section class="crumbs">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center flex-wrap">
                <a href="/" class="crumbs__link">Главная</a>
                <span class="crumbs__arrow d-block">&gt;</span>
                <a href="/agency/realty" class="crumbs__link">Результаты поиска</a>
                {% if advertisement.Parent.id %}
                    <span class="crumbs__arrow d-block">&gt;</span>
                    <a href="/object_templates/advertisement_templates/view/{{ advertisement.Parent.id }}" class="crumbs__link">{{ advertisement.Parent.title }}</a>
                {% endif %}
                <span class="crumbs__arrow d-block">&gt;</span>
                <a href="{{ _view.request.here }}" class="crumbs__link active">ID {{ advertisement.Advertisement.id }}</a>
            </div>
        </div>
    </div>
</section>
<section class="description description-rent">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <h1 class="description__title">{{ advertisement.Advertisement.rent ? 'Аренда' : 'Продажа' }} {{ advertisement.Category.title|lower }}</h1>
            </div>
        </div>
        {% if advertisement.Parent.id %}
            <div class="row">
                <div class="col-10">
                    <h2 class="description__subtitle subtitle">{{ advertisement.Parent.title }}</h2>
                </div>
            </div>
        {% endif %}
        <div class="row description__information">
            <div class="col-10 d-flex align-items-center">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z" stroke="#283655" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke="#283655" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="description__placemark d-block">{{ adView.getLocationTitle(advertisement) }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-6 col-md-12">
                <div class="swiper description-swiper">
                    <div class="swiper-wrapper description-wrapper">
                        {% set gallery = adView.getGallery(advertisement) %}
                        {% set galleryList = gallery.items ?: [gallery.first] %}
                        {% set galleryList = galleryList|filter(item => item.plan != '1') %}
                        {% set galleryResizeList = imageResized.resizePicture(galleryList, {'width': '840', 'height': '515', 'mode': 'crop', 'paddings': false, 'folder': 'twig_crop_realty_view', 'cache_path_size': true}) %}
                        {% for i, galleryItem in galleryResizeList %}
                            <div class="swiper-slide description-slide" data-full="{{ galleryItem.full }}">
                                <div class="box description__box">
                                    <picture>
                                        <img data-src="{{ galleryItem.src }}" {% if i == 0 %} src="{{ galleryItem.src }}" {% endif%} alt="{{ galleryItem.description }}" class="description__image">
                                    </picture>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-prev description-button description-button-prev">
                        <svg width="17" height="30" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 28L15 15L2 2" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /></svg>
                    </div>
                    <div class="swiper-button-next description-button description-button-next">
                        <svg width="17" height="30" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 28L15 15L2 2" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /></svg>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="description__card">
                    <div class="description__header d-flex align-items-center justify-content-between">
                        <span class="description__id">ID объекта: <span>{{ advertisement.Advertisement.id }}</span></span>
                        <button class="description__save">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 22V4C20 2.897 19.103 2 18 2H6C4.897 2 4 2.897 4 4V22L12 17.428L20 22ZM6 10V4H18V18.553L12 15.125L6 18.553V10Z" fill="#333333" /></svg>
                        </button>
                    </div>
                    <div class="description-info">
                        <div class="description-info__item d-flex flex-column">
                            <div class="description-info__number d-flex flex-column">
                                <span class="description-info__price">Цена:</span>
                                {% if advertisement.Advertisement.rent %}
                                    <span class="description-info__price"><span>{{ price.format(advertisement.Advertisement.price_area_year) }}</span> руб./ кв. м. в год</span>
                                {% else %}
                                    <span class="description-info__price"><span>{{ price.format(advertisement.Advertisement.price) }}</span> руб.</span>
                                {% endif %}
                            </div>
                            {% if advertisement.Advertisement.rent %}
                                <span class="description-info__month">{{ price.format(advertisement.Advertisement.price_area) }} руб./ в мес.</span>
                            {% endif %}
                            <div class="description-info__value d-flex flex-column">
                                {% set vat_type = complexCategory.getViewAliasesOptions('vat_type', paramsValues) %}
                                {% if vat_type %}
                                    <span class="description-info__desc">{{ vat_type }}</span>
                                {% endif %}
                                {% set included_options = complexCategory.getViewAliasesOptions('included_options', paramsValues) %}
                                {% if included_options %}
                                    <span class="description-info__desc">{{ included_options|split(",")|map(includedOption => "#{includedOption|trim}: включены в ставку")|join(', ') }}</span>
                                {% endif %}
                            </div>
                            <a href="#deal" class="description-info__more">Подробнее</a>
                        </div>
                    </div>
                    <span class="description__call description-rent__call text-center d-flex align-items-center justify-content-center">
                        Звоните: {{ siteInfo.renderTel(config.Site.phone, {'class': 'description__phone'}) }}
                    </span>
                    <div class="description__buttons d-flex flex-xl-column flex-lg-row flex-md-row align-items-xl-center justify-content-xl-center justify-content-lg-between justify-content-md-center flex-sm-row justify-content-sm-center flex-column align-items-center">
                        <a class="description__btn btn-2" href="/agency/realty/print_view/{{ advertisement.Advertisement.id }}.pdf?template=with_logo&layout=default&orientation=portrait" target="_blank">Скачать презентацию</a>
                        <a class="description__btn btn-1 description__button-form" href="#form">Назначить просмотр</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tabs" id="tabs">
                    <div class="tabs__nav d-flex flex-xl-nowrap flex-lg-nowrap flex-wrap">
                        <button class="tabs__nav-link tabs-rent__nav-link tabs__nav-link--active">Основное</button>
                        <button class="tabs__nav-link tabs-rent__nav-link" id="deal">Условия сделки</button>
                        <button class="tabs__nav-link tabs-rent__nav-link">Планировка</button>
                        <button class="tabs__nav-link tabs-rent__nav-link">Парковка</button>
                    </div>
                    <div class="tabs__content tabs__content--active">
                        <div class="tabs__main d-flex flex-xl-row flex-lg-row flex-column">
                            <div class="description__column d-flex flex-column">
                                {% set area = complexCategory.getViewAliasesOptions('area', paramsValues) %}
                                {% if area %}
                                    <div class="description__group d-flex align-items-start">
                                        <span class="description__character-rent_2 d-block">Общая площадь</span>
                                        <span class="description__value-rent">{{ area }} кв.м.</span>
                                    </div>
                                {% endif %}
                                {% set ceiling_height = complexCategory.getViewAliasesOptions('ceiling_height', paramsValues) %}
                                {% if ceiling_height %}
                                    <div class="description__group d-flex align-items-start">
                                        <span class="description__character-rent_2 d-block">Высота потолков</span>
                                        <span class="description__value-rent">{{ ceiling_height }}м</span>
                                    </div>
                                {% endif %}
                                {% set planirovk = complexCategory.getViewAliasesOptions('planirovk', paramsValues) %}
                                {% if planirovk %}
                                    <div class="description__group d-flex align-items-start">
                                        <span class="description__character-rent_2 d-block">Планировка</span>
                                        <span class="description__value-rent">{{ planirovk }}</span>
                                    </div>
                                {% endif %}
                                {% set floor = complexCategory.getViewAliasesOptions('floor', paramsValues) %}
                                {% set floors = complexCategory.getViewAliasesOptions('floors', paramsValues) %}
                                {% if floor or floors %}
                                    <div class="description__group d-flex align-items-start">
                                        <span class="description__character-rent_2 d-block">Этаж</span>
                                        <span class="description__value-rent">{{ floor ?: '-' }} из {{ floors ?: '-' }}</span>
                                    </div>
                                {% endif %}
                                {% set room_occupied = complexCategory.getViewAliasesOptions('room_occupied', paramsValues) %}
                                {% if room_occupied %}
                                    <div class="description__group d-flex align-items-start">
                                        <span class="description__character-rent_2 d-block">Помещение занято</span>
                                        <span class="description__value-rent">{{ room_occupied }}</span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="description__column d-flex flex-column">
                                {% set wet_spots = complexCategory.getViewAliasesOptions('wet_spots', paramsValues) %}
                                {% if wet_spots %}
                                    <div class="description__group d-flex align-items-start">
                                        <span class="description__character-rent_2 d-block">Количество мокрых точек</span>
                                        <span class="description__value-rent">{{ wet_spots }}</span>
                                    </div>
                                {% endif %}
                                {% set electric_power = complexCategory.getViewAliasesOptions('electric_power', paramsValues) %}
                                {% if electric_power %}
                                    <div class="description__group d-flex align-items-start">
                                        <span class="description__character-rent_2 d-block">Электрическая мощность</span>
                                        <span class="description__value-rent">{{ electric_power }}кВт</span>
                                    </div>
                                {% endif %}
                                {% set quality = complexCategory.getViewAliasesOptions('quality', paramsValues) %}
                                {% if quality %}
                                    <div class="description__group d-flex align-items-start">
                                        <span class="description__character-rent_2 d-block">Состояние</span>
                                        <span class="description__value-rent">{{ quality }}</span>
                                    </div>
                                {% endif %}
                                {% set furniture = complexCategory.getViewAliasesOptions('furniture', paramsValues) %}
                                {% if furniture %}
                                    <div class="description__group d-flex align-items-start">
                                        <span class="description__character-rent_2 d-block">Мебель</span>
                                        <span class="description__value-rent">{{ furniture }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="tabs__content">
                        <div class="tabs__main d-flex flex-xl-row flex-lg-row flex-column">
                            <div class="description__column d-flex flex-column">
                                {% set stavka = complexCategory.getViewAliasesOptions('stavka', paramsValues) %}
                                {% if stavka %}
                                    <div class="description__group d-flex align-items-start">
                                        <span class="description__character-rent_1 d-block">Арендная ставка</span>
                                        <span class="description__value-rent">{{ stavka }}</span>
                                    </div>
                                {% endif %}
                                {% set operating_costs = complexCategory.getViewAliasesOptions('operating_costs', paramsValues) %}
                                {% if operating_costs %}
                                    <div class="description__group d-flex align-items-start">
                                        <span class="description__character-rent_1 d-block">Эксплуатационные расходы</span>
                                        <span class="description__value-rent">{{ operating_costs }}</span>
                                    </div>
                                {% endif %}
                                {% set vat_type = complexCategory.getViewAliasesOptions('vat_type', paramsValues) %}
                                {% if vat_type %}
                                    <div class="description__group d-flex align-items-start">
                                        <span class="description__character-rent_1 d-block">НДС</span>
                                        <span class="description__value-rent">{{ vat_type }}</span>
                                    </div>
                                {% endif %}
                                {% set uslugi = complexCategory.getViewAliasesOptions('uslugi', paramsValues) %}
                                {% if uslugi %}
                                    <div class="description__group d-flex align-items-start">
                                        <span class="description__character-rent_1 d-block">Коммунальные услуги</span>
                                        <span class="description__value-rent">{{ uslugi }}</span>
                                    </div>
                                {% endif %}
                                {% set prepayment = complexCategory.getViewAliasesOptions('prepayment', paramsValues) %}
                                {% if prepayment %}
                                    <div class="description__group d-flex align-items-start">
                                        <span class="description__character-rent_1 d-block">Предоплата</span>
                                        <span class="description__value-rent">{{ prepayment }}</span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="description__column d-flex flex-column">
                                {% set deposit = complexCategory.getViewAliasesOptions('deposit', paramsValues) %}
                                {% if deposit %}
                                    <div class="description__group d-flex align-items-start">
                                        <span class="description__character-rent_1 d-block">Страховой депозит</span>
                                        <span class="description__value-rent">{{ deposit }}</span>
                                    </div>
                                {% endif %}
                                {#//TODO не нашел параметры
                                <div class="description__group d-flex align-items-start">
                                    <span class="description__character-rent_1 d-block">Договор прямой аренды</span>
                                    <span class="description__value-rent">3кВт</span>
                                </div>
                                <div class="description__group d-flex align-items-start">
                                    <span class="description__character-rent_1 d-block">Договор на 3 года</span>
                                    <span class="description__value-rent">Требуется косметический ремонт</span>
                                </div>#}
                            </div>
                        </div>
                    </div>
                    <div class="tabs__content">
                        {% set galleryPlanList = gallery.items ?: [] %}
                        {% set galleryPlanList = galleryPlanList|filter(item => item.plan) %}
                        {% if galleryPlanList|length > 0 %}
                            <div class="description-rent-swiper swiper">
                                <div class="description-rent-wrapper swiper-wrapper">
                                    {% set galleryPlanResizeList = imageResized.resizePicture(galleryPlanList, {'width': '237', 'height': '160', 'mode': 'crop', 'paddings': false, 'folder': 'twig_crop_realty_view_plan', 'cache_path_size': true}) %}
                                    {% for i, galleryItem in galleryPlanResizeList %}
                                        <div class="description-rent-slide swiper-slide" data-full="{{ galleryItem.full }}">
                                            <div class="box description-rent__box">
                                                <img data-src="{{ galleryItem.src }}" {% if i == 0 %} src="{{ galleryItem.src }}" {% endif%} alt="{{ galleryItem.description }}" class="description-rent__image">
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="swiper-button-prev description-rent-button description-rent-button-prev">
                                <svg width="17" height="30" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 28L15 15L2 2" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /></svg>
                            </div>
                            <div class="swiper-button-next description-rent-button description-rent-button-next">
                                <svg width="17" height="30" viewBox="0 0 17 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 28L15 15L2 2" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /></svg>
                            </div>
                        {% else %}
                            <p>Планировки пока нет</p>
                        {% endif %}
                    </div>
                    <div class="tabs__content">
                        <div class="tabs__main d-flex flex-xl-row flex-lg-row flex-column">
                            <div class="description__column d-flex flex-column">
                                {% set availability = complexCategory.getViewAliasesOptions('availability', paramsValues) %}
                                {% if availability %}
                                    <div class="description__group d-flex align-items-start">
                                        <span class="description__character-rent_1 d-block">Наличие</span>
                                        <span class="description__value-rent">{{ availability }}</span>
                                    </div>
                                {% endif %}
                                {% set underground_parking = complexCategory.getViewAliasesOptions('underground_parking', paramsValues) %}
                                {% if underground_parking %}
                                    <div class="description__group d-flex align-items-start">
                                        <span class="description__character-rent_1 d-block">Подземный паркинг</span>
                                        <span class="description__value-rent">{{ underground_parking }}</span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="description__column d-flex flex-column">
                                {% set coefficient_parking = complexCategory.getViewAliasesOptions('coefficient_parking', paramsValues) %}
                                {% if coefficient_parking %}
                                    <div class="description__group d-flex align-items-start">
                                        <span class="description__character-rent_1 d-block">Коэффициент парковочных мест, метров к местам</span>
                                        <span class="description__value-rent">{{ coefficient_parking }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <span class="description__sub d-block">Описание:</span>
                <div class="description__text">
                    {{ adView.getSiteText(advertisement)|striptags('<br><p>') }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ croogo_region alias = "twig_realty_view_objects" }}
{{ croogo_region alias = "twig_realty_popular" }}
<section class="form" id="form">
    <div class="container">
        {{ flash.render('contact_with_agent') }}
        {{ form.create('AdvertisementMessage', {'class': 'form-block'}) }}
        {{ form.hidden('advertisement_id', {'value': advertisement.Advertisement.id}) }}
        <div class="form-block-left">
            <div class="form-block-left-content">
                <span class="form-block-left-content__title">Быстрый подбор недвижимости</span>
                <span class="form-block-left-content__subtitle">Пришлем в течение 30 минут</span>
                <label class="d-block w-100">
                    {{ form.input('AdvertisementMessage.fio', {
                        'type': 'text',
                        'placeholder': 'Имя',
                        'class': 'form-block-left-content__input',
                        'div': false,
                        'label': false,
                    }) }}
                </label>
                <label class="d-block w-100">
                    {{ form.input('AdvertisementMessage.phone', {
                        'type': 'tel',
                        'placeholder': 'Телефон',
                        'class': 'form-block-left-content__input phone-mask',
                        'div': false,
                        'label': false,
                    }) }}
                </label>
                <label class="d-block w-100">
                    {{ form.input('AdvertisementMessage.email', {
                        'type': 'email',
                        'placeholder': 'Эл. почта',
                        'class': 'form-block-left-content__input',
                        'div': false,
                        'label': false,
                    }) }}
                </label>
                {% if recaptcha.hasKey() %}
                    {{ recaptcha.display_form({'id': 'contact_with_agent_recaptcha', 'div': 'recaptcha-block'}) }}
                {% endif %}
                <div class="form-block-left-content-agreement">
                    <div class="form-block-left-content-agreement-check">
                        {{ form.checkbox('confirmation', {'class': 'form-block-left-content-agreement-check__checkbox', 'value': 1, 'checked': true, 'hiddenField': false}) }}
                        <label for="{{ form.domId('confirmation') }}" class="form-block-left-content-agreement-check-label">
                                    <span class="form-block-left-content-agreement-check-label__text">
                                        Я согласен<br> <a href="">с политикой обработки персональных данных</a>
                                    </span>
                        </label>
                    </div>
                    <button type="submit" class="form-block-left-content-agreement__btn btn-1">Отправить</button>
                </div>
            </div>
        </div>
        <div class="form-block-right box">
            <picture>
                <source srcset="/uploads/assets/img/form/request.webp" type="image/webp">
                <img src="/uploads/assets/img/form/request.png" alt="Изображение" class="form-block-right__img">
            </picture>
        </div>
        {{ form.end() }}
    </div>
</section>
